## Dictionary comprehension

In [5]:
l1=[1,2,3,4,5,6]
l2=[ele**2 for ele in l1]
l2

[1, 4, 9, 16, 25, 36]

In [6]:
d={val:val**2 for val in l1}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [11]:
s = "apple mango pineapple dog elephant"
{word[0]:word for word in s.split()}

{'a': 'apple', 'm': 'mango', 'p': 'pineapple', 'd': 'dog', 'e': 'elephant'}

In [12]:
d3 = {word[0]:word.capitalize() for word in s.split()}
d3

{'a': 'Apple', 'm': 'Mango', 'p': 'Pineapple', 'd': 'Dog', 'e': 'Elephant'}

In [13]:
print(l1)
s2="one two three four five six"
s2

[1, 2, 3, 4, 5, 6]

'one two three four five six'

In [14]:
list(zip(l1,s2.split()))

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five'), (6, 'six')]

In [15]:
{k:v for k,v in zip(l1,s2.split())}

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

## Tuple comprehension

In [16]:
l1

[1, 2, 3, 4, 5, 6]

In [17]:
tuple(val**2 for val in l1)

(1, 4, 9, 16, 25, 36)

* calculate the sum of first n values

In [18]:
n = int(input())
sum(tuple(e for e in range(1,n+1)))

4

10

In [19]:
n=int(input())
sum([e for e in range(1,n+1) if e%2==0])

10

30

In [20]:
n2=int(input())
sum(tuple(e for e in range(1,n2+1) if e%2==0))

10

30

*Tasks
*Take two list of same length as input and return a dictionary with one as keys and other as values. 
*country = ['India', 'Pakistan', 'Nepal', 'Bhutan', 'China', 'Bangladesh']
*capital = ['New Delhi', 'Islamabad','Kathmandu', 'Thimphu', 'Beijing', 'Dhaka']
*Output :  {'India': 'New Delhi','Pakistan': 'Islamabad','Nepal':'Kathmandu','Bhutan': 'Thimphu','China':            'Beijing','Bangladesh': 'Dhaka'}

In [3]:
s1=input()
s2=input()
{i:j for i,j in zip(s1.split(),s2.split())}

india pakistan nepal bhutan china bangladesh
newdelhi islamabad kathmandu thimphu beijing dhaka

{'india': 'newdelhi',
 'pakistan': 'islamabad',
 'nepal': 'kathmandu',
 'bhutan': 'thimphu',
 'china': 'beijing',
 'bangladesh': 'dhaka'}