## Functions

In [1]:
print(bin(2))

0b10

In [4]:
print(chr(97))
print(ord('a'))
print(bin(2))
print(min(3,5,6))
print(max(9,5,7))
print(max('1234'))
print(max('rty'))
name = 'hi'
print(type(name))

a
97
0b10
3
9
4
y
<class 'str'>

In [5]:
min(a)

NameError: name 'a' is not defined

In [6]:
a=input("enter a value")
b=input("enter b value")
print(type(min(a,b)))

enter a value4
enter b value6
<class 'str'>

In [7]:
a=input("enter a value")
b=input("enter b value")
min(a,b)

enter a value4
enter b value8

'4'

In [8]:
a=input("enter a value")
b=input("enter b value")
print(type(int(min(a,b))))

enter a value6
enter b value9
<class 'int'>

In [9]:
range(6)

range(0, 6)

In [10]:
range(2,6)

range(2, 6)

In [12]:
for i in range(1,10,4):   #range(start,end,step)
    print(i)

1
5
9

In [14]:
for i in range(1,10,4):
    print(i,end="")

159

In [19]:
for i in range(1,10,4):
    print(i,end="\n")

1
5
9

### User defined functions

* Without arguments & without return values
* Without arguments & with return Value
* With arguments & without return values
* With arguments & return values

Without arguments & without return values

In [ ]:
def function_name(arguments):
      statements
    body of the function

In [18]:
def add():
    a=10
    b=20
    print(a+b)
add()

30

Without arguments & with return vaues

In [26]:
def mul():
    a=9
    b=32
    return(a*b)
mul()

288

With arguments & without return values

In [29]:
def add(a,b):
  print(a+b)
add(34,56)

90

In [30]:
def add(a,b):
    print(a+b)
add(int(input()),int(input()))

4
7
11

With arguments & return values

In [32]:
def add(a,b):
    return(a+b)
add(34,56)

90

In [33]:
def add(a,b):
    return(a+b)
add(int(input()),int(input()))

3
7

10

In [34]:
def div(a,b): 
    return(int(a/b))
div(2,3)

0

## Function types in python


  * Required arguments
  * Keyword arguments
  * Default arguments
  * Variable length arguments

In [36]:
# Required arguments
add(1)

TypeError: add() missing 1 required positional argument: 'b'

In [37]:
add(2,3)

5

In [38]:
# keyword arguments
def keyword(name,branch):
    print(name,branch)
keyword(name="alekhya",branch="ece")

alekhya ece

In [40]:
# keyword arguments
def keyword(name,branch):
    print(name,branch)
keyword(branch="cse",name="alekhya")

alekhya cse

In [42]:
# Default arguments
def default(name,branch="ece"):
     print(name,branch)
default("Alekhya")

Alekhya ece

In [43]:
# Default arguments
def default(name,branch="ece"):
     print(name,branch)
default("ece")

ece ece

In [45]:
# Default arguments
def default(name="ad",branch="ece"):
     print(name,branch)
default( )

ad ece

In [46]:
# Default arguments
def default(name="ad",branch="ece"):
     print(name,branch)
default(input())

uma
uma ece

In [48]:
# variable length arguments
def var_len(*values):
    print(*values)
var_len(1,2,34,56,78)

1 2 34 56 78

In [49]:
def var_len(*values):
    print(min(*values))
var_len(1,2,34,56,78)

1

In [50]:
def var_len(*values):
    print(max(*values))
var_len(1,2,34,56,78)

78

In [53]:
def var_len(*values):
    print(min(*values))
var_len(input())

1 2 3 4 5

In [64]:
 # Function to print all numbers divisible by 6 and not a factor of 100 in a given range(lb, ub) inclusive def divisible(lb,ub):   
def divisible(lb,ub):
    for i in range(lb,ub+1):
         if i%6==0 and 100%i!=0 :
            print(i)
divisible(1,100)

6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
96

Function to find the average of cubes of all the even numbers in a given range(lb, ub) inclusive

In [70]:
def average(lb,ub):
    s=0
    count=0
    for i in range(lb,ub+1):
        if i%2==0:
            s=s+i**3
            count+=1
    print(s/count)
average(1,10)

360.0

* Function to generate the list of factors for a given number

In [82]:
def divisible(a):
    for i in range(1,a+1):
        if a%i==0:
            print(i)
divisible(12)

1
2
3
4
6
12

* Function to calculate the factorial of a given number

In [86]:
def fact(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    print(fact)
fact(5)

120

## Advanced Problems

 * Function to calculate the average of all factorials in a given range

In [91]:
def fact(lb,ub):
    fact=1
    a=0
    s=0
    for i in range(lb,ub+1):
        fact=fact*i
        a=a+1
        s=s+fact
    print(s/a)
fact(1,3)

3.0

* Function to generate Multiplication table for a number in a given range

In [3]:
m=int(input())
def mul(k,l):
    for i in range(l,l+m):
        print(k,'x',i,'=',k*i)
mul(int(input()),int(input()))

5
10
100
10 x 100 = 1000
10 x 101 = 1010
10 x 102 = 1020
10 x 103 = 1030
10 x 104 = 1040