## Conditional statements

In [1]:
# simple if
a=10
if a==10:
    print("equal")

equal

In [2]:
#else if
a=10
if a==10:
    print("equal")
else:
    print("not equal")

equal

In [5]:
# elif statements
a=10;b=20;c=30
if a>b and a>c:
    print("a is the largest",a)
if b>a and b>c:
    print("b is the largest",b)
else:
    print(c,"is the largest")

30 is the largest

In [ ]:
# nested if
if a>b:
    if(a>c):
        print("a is the largest")
elif b>c:
    print("b is the largest")
else:
    print("c is the largest")

##  For Loop

In [ ]:
for temp_var in sequence

In [ ]:
for i in 1,2,3:
    print(i)

In [9]:
2==3
2 is not 3

True

In [10]:
"a" in "alekhya"

True

In [ ]:
for i in range(start,end,step)

In [13]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [14]:
for i in range(1,20,10):
    print(i)

1
11

In [15]:
str1='apssdc'
for i in str1:
    print(i)

a
p
s
s
d
c

In [16]:
str1='apssdc'
for i in str1:
    print(i,end=" ")

a p s s d c

## While loop

In [17]:
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

In [18]:
i=1
while i<5:
    print(i)
    i=i+1

1
2
3
4

In [11]:
for i in range(1,10):
    if i==2:
        continue
    print(i)

1
3
4
5
6
7
8
9

In [12]:
for i in range(1,10):
    if i==2:
        break
    print(i)

1

## Lists

In [4]:
* List is mutable(we can change the data)
* List is denoted by []
* List can have different data types

SyntaxError: invalid syntax (<ipython-input-4-5ebc8fdf5ca6>, line 1)

In [22]:
l1=[1,2,3]
type(l1)

list

In [23]:
l2=[1,2,3,"hii",2.3]
type(l2)

list

In [25]:
l3=[1,2,[3,4]]
type(l3)

list

In [26]:
l3[0]

1

In [27]:
l3[3]

IndexError: list index out of range

In [32]:
l3[2]

[3, 4]

In [29]:
l3[1]

2

In [30]:
l3[2][0]

3

In [31]:
l3[2][1]

4

## List Slicing

In [33]:
l2

[1, 2, 3, 'hii', 2.3]

In [34]:
l2[0:]

[1, 2, 3, 'hii', 2.3]

In [35]:
l2[1:3]

[2, 3]

In [36]:
l2[::-1]

[2.3, 'hii', 3, 2, 1]

In [38]:
l2[-3::]

[3, 'hii', 2.3]

In [41]:
l2[::-2]

[2.3, 3, 1]

In [43]:
l2[0::2]

[1, 3, 2.3]

In [44]:
a="sri padmavathi mahila university"
b=a.split()
print(b)
type(b)

['sri', 'padmavathi', 'mahila', 'university']

list

In [45]:
a="sri padmavathi mahila university"
b=a.split("a")
print(b)
type(b)

['sri p', 'dm', 'v', 'thi m', 'hil', ' university']

list

In [46]:
"a".join(a)

'saraia apaaadamaaavaaatahaia amaaahaialaaa auanaiavaearasaiatay'

In [47]:
"a".join(b)

'sri padmavathi mahila university'

In [48]:
a="sri padmavathi mahila university"
b=a.split("sri")
print(b)
type(b)

['', ' padmavathi mahila university']

list

## Functions on lists

In [ ]:
* len
* min
* max
* sorted
* sum

In [49]:
li=[46,34,23,87]
len(li)

4

In [50]:
li=[43,76,23]
sorted(li)

[23, 43, 76]

In [51]:
sorted(li,reverse=True) #descending order

[76, 43, 23]

In [54]:
li1=sorted(li)
li1[::-1]

[76, 43, 23]

In [53]:
sum(li)

142

In [55]:
li[0]=90

In [56]:
li

[90, 76, 23]

In [60]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [61]:
li

[90, 76, 23]

In [66]:
li.append(34) #122,67,43 executed two times
li

[90, 76, 23, 122, 122, 67, 34, 34]

In [67]:
li.clear()
li

[]

In [68]:
li=[1,2,3]
li

[1, 2, 3]

In [69]:
list1=li.copy() # copying li in list1 by using copy() method
list1

[1, 2, 3]

In [70]:
li.count(1) #counting no of 1's in the list

1

In [71]:
li.count(2)

1

In [72]:
li.index(1)

0

In [73]:
li.index(2)

1

In [74]:
li.index(3)

2

In [78]:
li.index(2,1,3)

1

In [79]:
li.insert(0,67)
li

[67, 1, 2, 3]

In [80]:
li.pop(2) # 2 is the index value

2

In [82]:
li

[67, 1, 3]

In [89]:
li.remove(67) # 67 is value
li

ValueError: list.remove(x): x not in list

In [88]:
sorted(li,reverse=False)

[1, 3]

In [90]:
sorted(li,reverse=True)

[3, 1]

* check given year is leap year or not

In [94]:
a=int(input())
if ((a%4==0) or (a%400==0 and a%100!=0)):
    print(a,"isleap year")
else:
    print(a,"is a not leap year")

2016
2016 isleap year

 * Check if the number exist in a given range (inputs: number(n), range(lower number and upper number)

In [110]:
a=int(input())
def limit(lb,ub):
    for i in range(lb,ub):
        if a==i:
            print(a,"is in given range")
limit(int(input()),int(input()))

4
1
5
4 is in given range

In [5]:
a=int(input())
f=a**(1/2)
print(int(f))

9
3

 * Print n Natural Numbers using while loop.

In [5]:
a=int(input())
for i in range(1,a+1):
     print(i)

5
1
2
3
4
5

* Read the given strin=g that contains alphanumeric values. Print all even number, all odd numbers and alphabets separately.

In [16]:
def pyramid(a):
    b=2*a-2
    for i in range(0,a):
        for j in range(0,b):
            print(end=" ")
        b=b-1
        for j in range(0,i+1):
            print(" *",end="")
        print("\n")
pyramid(int(input()))

8
               *

              * *

             * * *

            * * * *

           * * * * *

          * * * * * *

         * * * * * * *

        * * * * * * * *

In [4]:
't'.isalpha()

True

In [7]:
st=input()
e=""
o=""
for i in st:
    if i.isalpha():
        print(i,end="")
    else:
        if int(i)%2==0:
            e=e+i
        else:
            o=o+i
print("\n",e,end="")
print("\n",o,end="")

5gdeaxvtf542
gdeaxvtf
 42
 55

* program to print n number of iterations using while loop with if statement

In [10]:
n=int(input())
c=0
while n!=0:
    if(n%2==0):
        c=c+1
        print(c)
    n=n-1

5
1
2

In [14]:
for i in range(1,50):
    if(i%3==0):
        print("fizz")
    elif(i%5==0):
        print("buzz")
    if(i%3==0 and i%5==0):
        print("fizzbuzz")

fizz
buzz
fizz
fizz
buzz
fizz
fizz
fizzbuzz
fizz
buzz
fizz
fizz
buzz
fizz
fizz
fizzbuzz
fizz
buzz
fizz
fizz
buzz
fizz
fizz
fizzbuzz
fizz

In [16]:
n=int(input())
c=0
while(n>0):
    c=c+1
    n=n//10
print(c)

123
3

In [17]:
l1=[1,2,3,4,5]
l2=l1.copy()
l2

[1, 2, 3, 4, 5]

In [20]:
l=[1,6,7,3,4]
l3=sorted(l)
print(l3)
l4=sorted(l,reverse=True)
print(l4)

[1, 3, 4, 6, 7]
[7, 6, 4, 3, 1]

In [21]:
l1=[1,2,3,4,5]
l2=[1,2,3]
for i in l1:
    for j in l2:
        if i==j:
            print(i,j)

1 1
2 2
3 3

In [ ]:
l1=[1,2,3,4]
c=0
s=sum(l1)
print(int(s))
for i in l1:
    c=c+1
print()